                        h1 {
                            color: red;
                            background-color: yellow;
                            width: 500px;
                            height: 200px;
                            margin-left: 180px;
                            padding-left: 300px;
                        }
                        
                        p {
                            font-size: 20px;
                        }
                        
                        .box1 {
                            width: 100px;
                            height: 100px;
                            background-color: red;
                        }
                        
                        .box2 {
                            width: 100px;
                            height: 100px;
                            background-color: yellow;
                        }
                        
                        .box3 {
                            width: 100px;
                            height: 100px;
                            background-color: blue;
                        }
                        
                        .container {
                            display: flex;
                            justify-content: space-between;
                        }
                        
                        .header ul {
                            display: flex;
                            justify-content: space-between;
                        }